:root {
    --background-color: #E5E5E5;
}
:root {
    --accent-color: #4D5AE5;
}
:root {
    --color-text: #2E2F42;
}
:root {
    --color-footer: #2E2F42;
}
/* body */
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background: #FFFFFF
}
/* link */
.link {
    color: #2E2F42;
    text-decoration: none
}
/* list */
.list {
    list-style: none;
}
/* logo */
.logo {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
.logo-header {
    color: #2E2F42;  
}
/* list nav */
.list-nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #2E2F42;
    list-style: none;
}

.link-nav:hover,
.link-nav:focus {
    color: #404BBF;
}

/* list address */
.list-address {
    font-style: normal
}
.link-address {
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}
.link-address:hover,
.link-address:focus {
    color: #404BBF;
}
/* section1 */
.hidden {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0;
}

/* index.html */
.section {
    background: #2E2F42;
}
.caption-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* section our team */
.section-our-team {
    background-color:#F4F4FD;
}
/* button index.html */
.button-studio {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    border-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button-studio:hover,
.button-studio:focus {
    background: #404BBF;
}
/* portfolio.html */

/* list-filter-button */
.list-filter-button {
    color: #F4F4FD;
  
}
.filter-button {
    color: #4D5AE5;
    cursor: pointer;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.filter-button:hover,
.filter-button:focus {
    background: #404BBF;
}
.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
}

/* slogan-portfolio */
.slogan-portfolio-studio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text-portfolio-studio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* footer */
.footer {
    background-color: #2E2F42;
    font-size: 18px;
    line-height: 1.1;
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}
/* footer-logo */
.footer-logo {
    color: #F4F4FD;
 }
